<html ng-app="wordy">

<head>
	<title>
		wordy
	</title>
	<link href="bower_components/At.js/dist/css/jquery.atwho.css" rel="stylesheet" />
	<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="custom.css" rel="stylesheet" />
	<link href="bower_components/angular-upload/src/directives/btnUpload.min.css" rel="stylesheet" />
</head>

<body ng-controller="TextController">

	<h1 class="center-me">Wordy</h1>

	<!--<input ng-model="predictionLimit" type="number" min="1" />-->
	<div class="col-lg-8 col-lg-offset-2">
		<textarea ng-model="contentText" id="inputor" class="inputor" data-ng-trim="false"></textarea>
	</div>
	<div class="col-lg-8 col-lg-offset-2 center-me" ng-hide="hideUploadButton">
		<div  class="btn btn-primary btn-upload" upload-button url="http://localhost:1337/parse" 
			accept="text/plain"  param="srcfile"
			on-upload="onUpload(files)" 
			on-success="onSuccess(response)" 
			on-error="onError(response)" 
			on-complete="onComplete(response)"
		>Upload Source</div>
	</div>
	<div class="col-lg-8 col-lg-offset-2" ng-show="hideUploadButton" >
			<div class="row">
				<p><span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{currentUploadItem.name}} - {{currentUploadItem.progress}}</p>
			</div>
	</div>
	<div class="col-lg-8 col-lg-offset-2">
		<div class="row">
			<form>
				<fieldset>
			<div class="form-group">
				<label class="control-label">No. of predictions</label>
				<input type="number" ng-model="predictionLimit" class="form-control" />
			</div>
				</fieldset>
			</form>

			
			<h4>Activity Log</h4>
			<p>Various activities appear here.</p>
		</div>
			<div class="row" ng-repeat="x in logList">
				<p><span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{x}} </p>
			</div>
	</div>

	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/Caret.js/dist/jquery.caret.js"></script>
	<script type="text/javascript" src="bower_components/At.js/dist/js/jquery.atwho.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-upload/angular-upload.min.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript">

	</script>

</body>

</html>